@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.appDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.f-icons {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 60%;
}

.gpa-display {
  margin: auto;
  padding: 10px 20px;
  width: 300px;
  font-size: 12px;
  color: white;
  background-color: #55a755;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appDiv span {
  color: #55a755;
  font-weight: 600;
}

h4 {
  color: white;
}

.courseList {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 1rem;
  color: white;
}

.courseList .name,
.courseList .marks,
.courseList .credits {
  width: 200px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #94d7c2;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.CalculatorWrapper {
  background: #088f64;
  padding: 2rem;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.course-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 1rem;
}

.course-form input {
  width: 200px;
  padding: 0.5rem 1rem;
  border: 1px solid #94d7c2;
  background: none;
  color: #fff;
  outline: none;
}

.course-form input::placeholder {
  color: white;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.add-btn {
  background: #55a755;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.55rem;
  cursor: pointer;
  margin-left: 20px;
}

.Course {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #94d7c2;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

/* CSS Animations */
.course-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.course-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.course-exit {
  opacity: 1;
  transform: translateY(0);
}

.course-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 500ms, transform 500ms;
}

/* Transition Effects for List Items */
.courseList {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.courseList.removing {
  opacity: 0;
  transform: translateX(-20px);
}

.CalculatorWrapper {
  min-height: 200px;
  overflow: hidden;
  transition: min-height 0.3s ease-out;
}

.CourseList {
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.CourseList.removing {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}



@media (min-width: 600px) and (max-width: 1024px) {
  .course-form input,.courseList .name,
  .courseList .marks,
  .courseList .credits {
    width: 130px;
  }
  
}
@media  (min-width: 300px) and (max-width: 767px) {
  #root{
    overflow: hidden;
  }
  .CalculatorWrapper{
    width: 90%;
  }
  .course-form input,.courseList .name,
  .courseList .marks,
  .courseList .credits {
    width: 95px;
    font-size: .6rem;
  }
  .course-form,.courseList{
    column-gap: 5px;
  }
  .add-btn{
    padding: 0.5rem .4rem;
    font-size: 0.6rem;
    margin-left: 5px;
  }
  .btns {
    font-size: .7rem;
  }
  .gpa-display h2{
    font-size: .7rem;
  }
  .appDiv p{
    font-size: .7rem;
  }
}