@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8758ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.appDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}
.appDiv span{
  color: white;
  font-weight: 600;
}
.courseList{
  display: flex;
  justify-content: flex-start;
  column-gap:20px;
 margin-bottom: 1rem;
  align-items: center;
  color: white;
}

.courseList .name,.courseList .marks,.courseList .credits{
  width: 200px;
  padding: 20px;
  outline: 1px solid  #8758ff;
}
h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.CalculatorWrapper {
  background: #1A1A40;
 
  padding: 2rem;
  border-radius: 5px;
}


.course-form {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.course-form input{
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
 
  width: 200px;
  color: #fff;
}

.btns{
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.55rem;
  cursor: pointer;
  margin-left: 20px;
}

.Course {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff !important;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.Course {
  animation: fadeIn 0.5s ease-in-out;;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(50px);
  }
}

.Course.exiting {
  animation: fadeOut 0.5s ease-in forwards; 
}
